body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.listing-card {
  background: white;
  margin: 20px auto;
  padding: 15px;
  border-radius: 8px;
  max-width: 600px;
}

.listing-card h2 {
  grid-column: span 2;
  margin: 0 0 10px;
  color: #27285c;
  font-size: 20px;
}

.listing-card p {
  margin: 5px 0;
}
html {
  scroll-behavior: smooth;
}
